.custom-search-box {
    border-radius: 25px;
    font-size: 14px;
    padding: 12px;
    width: 75%;
    background-color: rgb(255, 255, 255);
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 3%;
    border-width: 1px;
    border-color: #0d6efd;
  }
  

 
  